  .darkMode {
  background-color: black;
  color: white;
}

#darkMode {
  position: absolute;
  top: 92px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 3px;
  height: 65px;
  cursor: pointer;
}

#darkMode:hover{
  opacity: .5;
}

img {
  height: auto;
  width: 200px;
  border-radius: 20px; 
  padding: 3px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  margin: 0 10px 10px;
  text-align: center;
}

.navigation > a {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
  width: 100px;
  padding: 12px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: bold;
  background: white;
}

.content {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 0 10px 10px;
  min-height: 450px;
  background-color:rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  margin-top: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 2px;
}

.field {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 5px;
}

.button {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 10px;
  padding: 5px;
}

.lower-content {
  background-color:rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spacer {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  height: 90px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
}

.heading > a {
  text-decoration: none;
}

.box-style {
  display: inline-block;
  width: 30px;
  padding: 12px;
  margin: 0 6px 6px;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  background: white;
}

.div-box {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(214, 249, 249);
  padding: 10px;
  width: 280px;
  margin: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-table {
  margin-top: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(214, 249, 249);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-table-cell {
  padding: 4px;
  margin: 2px;
  width: 180px;
  text-align: center;
}

.div-table-heading-title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.div-table-heading {
  display: flex;
  flex-direction: row;
}

.div-table-heading:hover {
  background-color: lightblue;
  font-weight: bold;
  cursor: pointer;
}

.eachBoat {
  border: 2px solid black;
  border-radius: 40px;
  margin: 50px;
  text-align: center;
  height: 270px;
}

#allBoats {
  left: auto;
  right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 350px 350px 350px;
}

.allPkgs {
 text-align: center;
 margin: 5% 20%;
}